{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs
================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Amrita University - Facebook Cover </title>
    <meta name="author" content="thinkfoss.com">

    <!-- Favicons
================================================== -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-touch-icon-114x114.png' %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/bootstrap.css' %}">

    <!-- Stylesheet
================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}">
    <link rel="stylesheet"  href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet"  href="{% static 'css/flapper.css' %}">
    <link rel="stylesheet"  href="{% static 'css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">
    <script type="text/javascript" src="{% static  'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/wow.min.js' %}"></script>
    <script>new WOW().init();</script>
    <script src="{% static 'transform/dist/jquery.transform-0.9.3.min.js' %}"></script>
    <script src="{% static 'jshashtable-2.1/jshashtable.js' %}"></script>
    <script src="{% static 'js/jquery.numberformatter-1.2.3.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/jquery.flapper.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/canvas2image.js' %}"></script>
    <script type="text/javascript" src="{% static  'js/html2canvas.js' %}"></script>

    <link  rel="stylesheet" type="text/css"  href="{% static 'css/cropper.css' %}">
    <script src="{% static 'js/cropper.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script src="{% static 'js/html5shiv.min.js' %}"></script>
      <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>
<body>
<div class="page-wrap">
 {% block navbar %}
    {% include 'navbar_top.html' %}
    {% endblock navbar %}

    {% block body %}

    {% endblock body %}
</div>
{% include 'fixed_footer.html' %}
</body>
</html>
