{% load staticfiles %}
<div id="footer" style="bottom:0px; padding-top:30px;">
    <div class="container">
        <div class="row">
          <div class="wow fadeInLeft templatemo-box" data-wow-delay="0.6s">
            <div class="col-lg-3">
                <a href="http://amrita.edu/" target="_blank"><img src="{% static 'img/amrita_university.png' %}" width="80"/></a>
                <p style="color:#4B5F6D">Amrita University</p>
            </div><!--col-lg-3-->
            <div class="col-lg-3">
                <a href="http://thinkfoss.com/" target="_blank"><img src="{% static 'img/ThinkFOSS.jpg' %}" width="80"/></a>
                <p style="color:#4B5F6D">ThinkFOSS</p>
            </div><!--col-lg-3-->
          </div>
          <div class="wow fadeInRight templatemo-box" data-wow-delay="0.6s">
            <div class="col-lg-3">
                <a href="https://www.facebook.com/amritakalotsavam2016" target="_blank"><img src="{% static 'img/kalotsavam.jpg' %}" width="120"/></a>
                <p style="color:#4B5F6D">Kalotsavam 2016</p>
            </div><!--col-lg-3-->
            <div class="col-lg-3">
                <a href="http://www.digitalindia.gov.in/" target="_blank"><img src="{% static 'img/DigitalIndia.png' %}" width="140"/></a>
                <p style="color:#4B5F6D">Digital India</p>
            </div><!--col-lg-3-->
          </div><!--wow-->
        </div><!--row-->
</div> <!-- footer-->

