{% extends "base.html" %}
{% load staticfiles %}
{% block body %}

<div class="container">
 <div class="col-md-12">

  <div class="panel panel-default">
   <div class="panel-heading">
    <h3 class="panel-title" style="text-align: center">Select a template </h3>
   </div>
   <div class="panel-body">
    <div class="row">
     <div class="col-md-6">
      <div class="panel panel-default">
       <img class="img img-responsive" src="{% static 'img/cover1.jpg' %}" />
      </div>
     </div>
     <div class="col-md-6">

      <div class="panel panel-default">
       <img class="img img-responsive" src="{% static 'img/cover1.jpg' %}" />
      </div>
     </div>
     <div class="col-md-6">
      <div class="panel panel-default">
       <img class="img img-responsive" src="{% static 'img/cover1.jpg' %}" />
      </div>
     </div>

     <div class="col-md-6">
      <div class="panel panel-default">
       <img class="img img-responsive" src="{% static 'img/cover1.jpg' %}" />
      </div>
     </div>

    </div>
   <div style="text-align:center">
    <a href="{% url 'makecover' %}"><button class="btn btn-default"> Make cover</button></a>
    </div>
   </div>

  </div>

 </div>

</div>
{% endblock body %}